<div class="control-group">
<input type="text" id="cook_time_hrs" placeholder="hrs" class="span1"/>
<input type="text" id="cook_time_mins" placeholder="mins" class="span1"/>
<select id="difficulty">
	<option>Difficulty?</option>
	<option>Easy</option>
	<option>Medium</option>
	<option>Hard</option>
</select>
<select id="healthy">
	<option>Healthy?</option>
	<option>Yes</option>
	<option>No</option>
</select>
</div>
<button class="btn btn-inverse pull-right" id="btn_cancel_advanced_search">
	<i class="icon-remove icon-white"></i>
</button>
