{% extends 'base.html' %}

<!-- navigations -->
{% block nav_links %}
<li><a href="/pantry/">Pantry</a></li>
<li class="active"><a href="/cookbook/">Cookbook</a></li>
{% endblock %}
	
<!-- main contents -->
{% block main_contents %}
<div class="container">
	<div class="row">
		<div class="span7 offset2">
			<div class="input-prepend input-append">
				<button id="btn_search_recipes" class="btn btn-inverse span1">
					<i class="icon-search icon-white"></i>
				</button>
				<input id="bsearch_input" class="span4" type="text"/>
				<select id="bsearch_filter" class="span2">
					<option>Name</option>
					<option>Ingredient</option>
				</select>
			</div>
		</div>
		<button id="btn_advanced_search" class="btn btn-inverse span1">
			<i class="icon-chevron-down icon-white"></i>
		</button>
	</div>
	<div class="row">
		<div id="advanced_search_container" class="span8 offset2"></div>
	</div>
	<div class="row">
		<div class="btn-group span8 offset4">
			<button id="btn_add_recipe" class="btn btn-success">Add Recipe <i class="icon-plus"></i></button>
			<button id="btn_fio_forme" class="btn btn-info">What can I make? <i class="icon-fire"></i></button>
			<button id="btn_addto_shopping" class="btn btn-warning">Add to Shopping List <i class="icon-bookmark"></i></button>
		</div>
	</div>
	<div class="row">
		<div id="edit_recipe_container" class="span8 offset2"></div>
	</div>
	<div class="row">
		<div id="shopping_list_container" class="span4"></div>
		<div id="cookbook_contents_container" class="span8">
	</div>
</div>
{% endblock %}

<!-- javascripts -->
{% block javascripts %}
{% load static %}
<script src="{% static 'js/cookbook.js' %}"></script>
{% endblock %}
