<form method="post" id="form_edit_pantry_item" value="{{ item_id }}" class="form-inline">
	{% csrf_token %}
	{{ form.name }}
	{{ form.amount }}
	{{ form.unit }}
	<button type="submit" class="btn btn-inverse"><i class="icon-download icon-white"></i></button>

	{% if item_id %}
	<button id="btn_delete_item" class="btn btn-inverse"><i class="icon-trash icon-white"></i></button>
	{% endif %}

	<button id="btn_cancel_item_edit" class="btn btn-inverse"><i class="icon-remove icon-white"></i></button>
</form>
