{% extends 'base.html' %}

<!-- navigations -->
{% block nav_links %}
<li class="active"><a href="#">Pantry</a></li>
<li><a href="#">Cookbook</a></li>
{% endblock %}

<!-- main contents -->
{% block main_contents %}
<button id="btn_add_pantry_item" class="btn btn-warning span2">Add Pantry Item</button>

<div id="edit_pantry_item_container" class="container span6"></div>
<div id="pantry_contents_container" class="container span6">pantry contents</div>
{% endblock %}

<!-- javascripts -->
{% block javascripts %}
{% load static %}
<script src="{% static 'js/pantry.js' %}"></script>
{% endblock %}
