<!DOCTYPE html>
<html lang="en">
	<head>
		<!-- metadatas -->
		<meta charset="utf-8">
		<title>kitchenaid</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">

		<!-- stylesheets -->
		{% load static %}
		<link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}">
		<link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap-responsive.min.css' %}">
		{% block stylesheets %}
		{% endblock %}

		<!-- javascripts -->
		<script src="{% static 'js/jquery-1.9.1.min.js' %}"></script>
	</head>
	<body>

		<!-- navigations -->
		<div class="navbar">
			<div class="navbar-inner">
				<a class="brand" href="/">kitchenaid</a>
				<ul class="nav">
					{% block nav_links %}
					{% endblock %}
				</ul>
				
				{% if user.is_authenticated %}
					<form class="navbar-form pull-right" method="post" action="/logout/">
						{% csrf_token %}
						<button type="submit" class="btn btn-primary">Logout <i class="icon-off icon-white"></i></button>
					</form>
				{% else %}
					<form class="navbar-form pull-right" method="post" action="/login/">
						{% csrf_token %}
						{{ login_form.email }}
						{{ login_form.password }}
						<button type="submit" class="btn btn-success">log in</button>
					</form>
				{% endif %}
			</div>
		</div>

		<!-- main contents -->
		{% block main_contents %}
		{% endblock %}

		<!-- javascripts -->
		{% block javascripts %}
		{% endblock %}
	</body>
</html>
